/* Adaptações responsivas */

@media (min-width: @screen-md-min) {
  .pf-album-item {
    width: 135px;
  }
  .pf-album-item {

    cursor: pointer;

    h2 {
      font-size: 12px; 
      margin-top: 18px;
      margin-bottom: 9px;
    }
    
  }
  
  .pf-photo-item {

    .pf-photo-view {
      width: 125px;
      height: 145px; 
    }

  }

}

@media (min-width: @screen-lg-min) {
  .pf-album-item {
    width: 165px;
  }
}