/* Variáveis customizadas*/

@icon-font-path:          "../assets/bootstrap/fonts/";

@font-size-base:          13px;
@btn-default-color:       #fff;
@btn-default-bg:          #333333;
@btn-default-border:      #333333;