body{
  background: url(../img/bg.jpg) repeat;
  position: relative;
}

/* Reset customizado */

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}

/* /Reset */

/* Helpers */

.btn {
  border-radius: 0;
}

.pf-panel {
  border: 1px solid #CCC;
  background: rgba(255,255,255,0.75);
  padding: 10px;
}

/* /Helpers */

/* Conteudo */

#pf-detalhes {
  padding: 20px 0;
}

.pf-albuns {
  margin-bottom: 40px;
  min-height: 1000px;
}

.pf-album-item {
  cursor: pointer;
 
  h2 {
    font-size: 12px; 
    margin-top: 9px;
    margin-bottom: 0;
  }
}

.pf-album-item {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  margin: 15px 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -webkit-transition: -webkit-transform .15s linear;
  width: 125px;
  max-height: 240px;
  display: inline-block;
  vertical-align: top;

  &:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
  }
}

.pf-photo-item {
  display: inline-block;
  vertical-align: top;
  
  &:nth-child(even) {
    .pf-photo-view {
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
    }
  } 

  .pf-photo-view {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 20px 0;
    width: 105px;
    height: 115px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      position: relative;
      z-index: 5;
    }
  }
}

.pf-loader-text {
  margin-top: 9px;
}

.pf-album-mask {
  background: rgba(0,0,0,0.9);
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.pf-album-view {
  float: left;
  height: auto;
  width: 100%;
  padding: 20px;
}

.pf-album-close {
  color: #fff;
  font-size: 22px;
  position: fixed;
  top: 15px;
  right: 25px;
  
  &:hover {
    color: #7f0a0c;
  }
}

/* /Conteudo */

/* Rodapé */

.pf-footer {
  padding: 20px 0;
  background-color: #333333;
  color: #fff;
  text-align: center;
  
  a {
    color: #fff;
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 0; 
  }
}

/* Rodapé */